<!DOCTYPE html>
<html>
<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='success.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
<title>Form Submitted Empty</title>
</head>
<body>
<p1>Form submitted empty. Check console for list of database entries.</p1><br>
<p2>You will have to hit your browser's back button and expand the array tree to view the database list.</p2><br>
<p3>To execute another action restart your Flask server first or reload the main page.</p3><br>
</body>
</html>