<!DOCTYPE html>
<html>
<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='success.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
<title>Success!</title>
</head>
<body>
<p1>Form submitted successfully!</p1>
<p2>Your entry has been added to the database.</p2><br>
<p3>Note - You may need to restart the flask server or reload the main page to perform another action.</p3><br>
<p4>Doing this will prevent the cursor not connected error.</p4>
</body>
</html>